:root {
  --darkblue: #2220a3;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb( 0 0 0 / 0.5);

}

body {
    font-size: 1,2rem;
    font-family: 'Poppins', sans-serif;
    min-height: 4000px;
        
}

.hero::before {
    content: "" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}


.hero{
    position: relative;
    min-height: 100vh;
}

.hero h1 {
    font-family: 'poppins-regular';
    font-size: 5rem;
}

.hero h4 {
    font-size: 1,6rem;
}

.hero p {
    font-size: 2rem;
    color: white;
}

.hero a{
    color: var(--darkblue);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--darkblue);
    color: white;
}


.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
    background: #000;
}

.mynavbar .navbar-brand, 
.mynavbar .offcanvas-title {
    font-family:'poppins-regular';
    font-size: 3,6rem;
    font-weight: bold;
    color: #fff;
}

.mynavbar .nav-link {
    color: #fff;
}


.mynavbar .nav-link {
    font-weight: 500;
    text-transform: uppercase;
}
/* Home */

.Home .row {
    display: flex;
}

.Home .row .Home-img {
    flex: 1 1 45rem;
 }
 
 .Home .row .Home-img img {
    width: 50%;
    margin-top: -4rem;
    display: flex; 

}
 
 .Home .row .content {
    flex: 1 1 35rem;
    padding: 0;
}
.Home .row .content h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    color: #fff;
}

 .Home .row .content p {
    margin-bottom: 1rem;
    font-size: 1,4rem;
    font-weight: 100;
    line-height: 1.6;
    text-transform: capitalize; 
    font: 1em sans-serif;
    color: #fff;
}

.Home {
    background-image: url(img/bg4.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -3.5rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}


.Home {
    padding: 4rem 7% 1.4rem;
 }
 
 .Home h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10rem; 
    margin-top: 2rem;
    color: #fff;
}


/* info */

.Info {
    background-image:url(img/bg2.jpg) ;
    background-size: cover;
    min-height: 100vh;
    margin-top: 0;
    padding-top: 5rem;
    padding-bottom: 0;
}


.Info h2 {
    font-size: 2.4rem;
    text-align: center;
    margin-left: 2rem;
    margin-top: 1.4rem;
    color: #fff;
}

.Info p {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 1.8rem;
    margin-bottom: 2rem;
    color: #fff;
}


/* profil */

.Profil h2 {
    font-size: 2.4rem;
    text-align: center;
    margin-left: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
}

.Profil .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.Profil .row .Profil-card {
    text-align: center;
    padding-bottom: 0.5;
    font-size: 2rem;
    justify-content: center;
}

.Profil .row .Profil-card img{
border-radius: 20%;
width: 20%;
}

.Profil .row .Profil-card .Profil-card-title {
    margin: 1rem auto 0.5rem;
}

.Profil {
    background-image:url(img/bg4.jpg) ;
    background-size: cover;
    min-height: 100vh;
    margin-top: 0;
    padding-top: 5rem;
    padding-bottom: 0;
}


/* Galeri section */

.Galeri h2, 
 .Profil h2,
 .kontak h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
 }

 .Galeri h2 span, 
 .Profil h2 span,
 .kontak h2 span {
    color: white;
 }

.Galeri {
    background-image:url(img/bg4.jpg) ;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: 0;
    padding-top: 5rem;
    padding-bottom: 0;
}

.Galeri .row{
    display: flex;
}


.Galeri .row .about-img {
    flex: 0.5 0.5 40rem;
}

.Galeri .row .about-img img {
    width: 50%;
    margin-left: 6rem;

}

.Galeri .row .content {
    flex: 0.5 0.5 35rem;
    padding: 0;
}

.Galeri .row .content h3{
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
}

.Galeri .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
    text-transform: capitalize;
}

/* Contact section */

.kontak{
    background-image:url(img/bg2.jpg) ;
    background-size: cover;
    min-height: 100vh;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.kontak {
    padding: 4rem 7% 1.4rem;
}


.kontak .row {
    display: flex;
    margin-top: 5rem;
    background-color: #222;
}

.kontak .row .map {
    flex: 2 2 30rem;
    width: 100%;
    height: 100;
    object-fit: cover;
    padding-top: 5rem;
}

.kontak .row form {
    flex: 1 1 30rem;
    padding: 2rem;
    text-align: center;
}

.kontak .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.kontak .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.kontak .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
}

/* Media Query */
/* laptop */
@media (max-width: 992px){
   html {
    font-size: 75%;
   }

   .simply-countdown>.simply-section{
      padding: 70px;
   }
}



/* tablet */
@media (max-width: 762px){
    html {
        font-size: 70%;
    }

    .simply-countdown>.simply-section{
         padding: 60px;
         margin: 5px;
    }   

    .mynavbar .nav-link {
        font-weight: 600;
        font-size: 1,4rem;
        text-align: center;
    }
    
.home .row {
    flex-wrap: wrap;
}

.home .row .home-img img{
    height: 24rem;
    object-fit: cover;
    object-position: center;
}

.home-img .row .content{
    padding: 0;
}

.home .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.home-img .row .content p {
    font-size: 1.6rem;
}

}



/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 65%;
 }

    .simply-countdown>.simply-section{
        padding: 45px;
        margin: 3px;
 }

}


























